# Папки с кодом
other/


# Кэш Python
__pycache__/

# Виртуальные окружения
venv/
ENV/
env/
.venv/

# Логи и временные файлы
*.log
*.tmp
*.swp

# Бинарники
*.exe
*.dll
*.so

# IDE
.vscode/
.idea/
*.iml

# Данные
data/
output/
logs/

# Pyc-файлы
*.pyc

# Pip-зависимости (если не нужны в репозитории)
# requirements.txt

.env